{% extends "layout.njk" %}
    {% block head%}
    <title>Sobre</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    {% endblock %}

    {% block content %}
    <div id="Wrapper">
        <img src="rocket.jpg" alt="rocketseat">
        <h1>RocketSeat</h1>
        <h2>As melhores tecnologias em programação, direto ao ponto e do jeito certo.</h2>
        <ul>
            <li>html</li>
            <li>css</li>
            <li>javascript</li>
        </ul>
    </div>

    <div class="footer">
        <a href="http://instagram.com/rocketseat_oficial">Instagram</a>
        <a href="http://fb.com/rocketseat">Facebook</a>
    </div>
    {% endblock%}
